[submodule ".\\SDL2BaseVCPKG\\extern\\vcpkg"]
	path = .\\SDL2BaseVCPKG\\extern\\vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "SDL2Mirrors/extern/vcpkg"]
	path = SDL2Mirrors/extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
